USE [InformacionBibliografica]
GO
/****** Object:  Table [dbo].[Autor]    Script Date: 9/5/2025 4:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoAutor] [varchar](20) NOT NULL,
 CONSTRAINT [pk_Autor_IdAutor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AutorCorporativo]    Script Date: 9/5/2025 4:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutorCorporativo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdAutor] [int] NOT NULL,
	[NombreCorporativo] [varchar](150) NOT NULL,
 CONSTRAINT [pk_AutorCorporativo_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AutorPersona]    Script Date: 9/5/2025 4:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutorPersona](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdAutor] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
 CONSTRAINT [pk_AutorPersona_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Descriptor]    Script Date: 9/5/2025 4:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Descriptor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreDescriptor] [varchar](100) NOT NULL,
 CONSTRAINT [pk_Descriptor_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Editorial]    Script Date: 9/5/2025 4:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Editorial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreEditorial] [varchar](100) NOT NULL,
	[IdUbicacion] [int] NOT NULL,
 CONSTRAINT [pk_Editorial_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publicacion]    Script Date: 9/5/2025 4:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publicacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](255) NOT NULL,
	[AnioPublicacion] [int] NOT NULL,
	[IdTipoPublicacion] [int] NOT NULL,
	[IdEditorial] [int] NOT NULL,
 CONSTRAINT [pk_Publicacion_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublicacionAutor]    Script Date: 9/5/2025 4:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicacionAutor](
	[IdPublicacion] [int] NOT NULL,
	[IdAutor] [int] NOT NULL,
 CONSTRAINT [pk_PublicacionAutor] PRIMARY KEY CLUSTERED 
(
	[IdPublicacion] ASC,
	[IdAutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublicacionDescriptor]    Script Date: 9/5/2025 4:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicacionDescriptor](
	[IdPublicacion] [int] NOT NULL,
	[IdDescriptor] [int] NOT NULL,
 CONSTRAINT [pk_PublicacionDescriptor] PRIMARY KEY CLUSTERED 
(
	[IdPublicacion] ASC,
	[IdDescriptor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Serie]    Script Date: 9/5/2025 4:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Serie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPublicacion] [int] NOT NULL,
	[Volumen] [int] NOT NULL,
	[Numero] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
 CONSTRAINT [pk_Serie_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPublicacion]    Script Date: 9/5/2025 4:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPublicacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreTipo] [varchar](50) NOT NULL,
 CONSTRAINT [pk_TipoPublicacion_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicacion]    Script Date: 9/5/2025 4:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Pais] [varchar](100) NOT NULL,
	[Ciudad] [varchar](100) NOT NULL,
 CONSTRAINT [pk_Ubicacion_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AutorCorporativo]  WITH CHECK ADD  CONSTRAINT [fk_AutorCorporativo_IdAutor] FOREIGN KEY([IdAutor])
REFERENCES [dbo].[Autor] ([Id])
GO
ALTER TABLE [dbo].[AutorCorporativo] CHECK CONSTRAINT [fk_AutorCorporativo_IdAutor]
GO
ALTER TABLE [dbo].[AutorPersona]  WITH CHECK ADD  CONSTRAINT [fk_AutorPersona_IdAutor] FOREIGN KEY([IdAutor])
REFERENCES [dbo].[Autor] ([Id])
GO
ALTER TABLE [dbo].[AutorPersona] CHECK CONSTRAINT [fk_AutorPersona_IdAutor]
GO
ALTER TABLE [dbo].[Editorial]  WITH CHECK ADD  CONSTRAINT [fk_Editorial_IdUbicacion] FOREIGN KEY([IdUbicacion])
REFERENCES [dbo].[Ubicacion] ([Id])
GO
ALTER TABLE [dbo].[Editorial] CHECK CONSTRAINT [fk_Editorial_IdUbicacion]
GO
ALTER TABLE [dbo].[Publicacion]  WITH CHECK ADD  CONSTRAINT [fk_Publicacion_IdEditorial] FOREIGN KEY([IdEditorial])
REFERENCES [dbo].[Editorial] ([Id])
GO
ALTER TABLE [dbo].[Publicacion] CHECK CONSTRAINT [fk_Publicacion_IdEditorial]
GO
ALTER TABLE [dbo].[Publicacion]  WITH CHECK ADD  CONSTRAINT [fk_Publicacion_IdTipoPublicacion] FOREIGN KEY([IdTipoPublicacion])
REFERENCES [dbo].[TipoPublicacion] ([Id])
GO
ALTER TABLE [dbo].[Publicacion] CHECK CONSTRAINT [fk_Publicacion_IdTipoPublicacion]
GO
ALTER TABLE [dbo].[PublicacionAutor]  WITH CHECK ADD  CONSTRAINT [fk_PublicacionAutor_IdAutor] FOREIGN KEY([IdAutor])
REFERENCES [dbo].[Autor] ([Id])
GO
ALTER TABLE [dbo].[PublicacionAutor] CHECK CONSTRAINT [fk_PublicacionAutor_IdAutor]
GO
ALTER TABLE [dbo].[PublicacionAutor]  WITH CHECK ADD  CONSTRAINT [fk_PublicacionAutor_IdPublicacion] FOREIGN KEY([IdPublicacion])
REFERENCES [dbo].[Publicacion] ([Id])
GO
ALTER TABLE [dbo].[PublicacionAutor] CHECK CONSTRAINT [fk_PublicacionAutor_IdPublicacion]
GO
ALTER TABLE [dbo].[PublicacionDescriptor]  WITH CHECK ADD  CONSTRAINT [fk_PublicacionDescriptor_IdDescriptor] FOREIGN KEY([IdDescriptor])
REFERENCES [dbo].[Descriptor] ([Id])
GO
ALTER TABLE [dbo].[PublicacionDescriptor] CHECK CONSTRAINT [fk_PublicacionDescriptor_IdDescriptor]
GO
ALTER TABLE [dbo].[PublicacionDescriptor]  WITH CHECK ADD  CONSTRAINT [fk_PublicacionDescriptor_IdPublicacion] FOREIGN KEY([IdPublicacion])
REFERENCES [dbo].[Publicacion] ([Id])
GO
ALTER TABLE [dbo].[PublicacionDescriptor] CHECK CONSTRAINT [fk_PublicacionDescriptor_IdPublicacion]
GO
ALTER TABLE [dbo].[Serie]  WITH CHECK ADD  CONSTRAINT [fk_Serie_IdPublicacion] FOREIGN KEY([IdPublicacion])
REFERENCES [dbo].[Publicacion] ([Id])
GO
ALTER TABLE [dbo].[Serie] CHECK CONSTRAINT [fk_Serie_IdPublicacion]
GO
